@use '../variables.scss' as vars;

:root[data-theme='dark'] {
  --bg-color: #{vars.$color-bg-dark};
  --box-bg-color: #{vars.$color-box-dark};
  --box-bg-color1: #{vars.$color-box-dark1};
  --box-bg-color2: #{vars.$color-box-dark2};
  --box-bg-color3: #{vars.$color-box-dark3};
  --box-bg-color4: #{vars.$color-box-dark4};
  --box-bg-color5: #{vars.$color-box-dark5};
  --box-bg-color6: #{vars.$color-box-dark6};
  --box-bg-color7: #{vars.$color-box-dark7};
  --box-bg-color8: #{vars.$color-box-dark8};
  --box-bg-color9: #{vars.$color-box-dark9};
  --text-color: #{vars.$color-text-dark};
  --text-color1: #{vars.$color-text-dark1};
  --text-color2: #{vars.$color-text-dark2};
  --text-color3: #{vars.$color-text-dark3};
  --sub-text-color: #{vars.$color-text-sub-dark};
  --scrollbar-color: #{vars.$scrollbar-color-dark};
  --border-color: #{vars.$color-border-dark};
}
