@use '../variables.scss' as vars;

:root[data-theme='light'] {
  --bg-color: #{vars.$color-bg-light};
  --box-bg-color: #{vars.$color-box-light};
  --box-bg-color1: #{vars.$color-box-light1};
  --box-bg-color2: #{vars.$color-box-light2};
  --box-bg-color3: #{vars.$color-box-light3};
  --box-bg-color4: #{vars.$color-box-light4};
  --box-bg-color5: #{vars.$color-box-light5};
  --box-bg-color6: #{vars.$color-box-light6};
  --box-bg-color7: #{vars.$color-box-light7};
  --box-bg-color8: #{vars.$color-box-light8};
  --box-bg-color9: #{vars.$color-box-light9};
  --text-color: #{vars.$color-text-light};
  --text-color1: #{vars.$color-text-light1};
  --text-color2: #{vars.$color-text-light2};
  --text-color3: #{vars.$color-text-light3};
  --sub-text-color: #{vars.$color-text-sub-light};
  --scrollbar-color: #{vars.$scrollbar-color-light};
  --border-color: #{vars.$color-border-light};
}
