@use './reset.scss';
@use './global.scss';
@use './variables.scss';
@use './theme/dark.scss';
@use './theme/light.scss';
@use './loading.scss';

html {
  @include g.scrollbarCustom;
}

body {
  display: flex;
  min-height: 100vh;
  height: 100%;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color);
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  @include g.flexCenter;
  flex-direction: column;
}

header,
footer {
  width: 100%;
}
