// light theme
$color-bg-light: #f4f2ec;
$color-text-light: #000000;
$color-text-sub-light: #0b1926b8;
$color-btn-light: #21b5e2;
$color-box-light: linear-gradient(
  121deg,
  rgba(186, 255, 16, 0.1) 0%,
  rgba(255, 37, 243, 0.09) 100%
);

// dark theme
$color-bg-dark: #1a1a1a;
$color-text-dark: #ffffff;
$color-text-sub-dark: #d2d1d1;
$color-btn-dark: #13e2fd;
$color-box-dark: linear-gradient(121deg, rgba(255, 57, 244, 0.1) 0%, rgba(45, 86, 255, 0.1) 100%);
